<h1><%= @tag.name %></h1>

<a href='/tags/<%= @tag.id %>/edit' class='btn btn-primary'>Edit tag</a>

<a href='/tags/<%= @tag.id %>' class='btn btn-danger' data-method='delete' rel='nofollow'>Delete</a>

<a href='/tags/' class='btn btn-primary'>Go Back</a>
